.Rproj.user
.Rhistory
.RData
.Ruserdata
References.Rmd
cover_letter.Rmd
cover_letter.log
References.pdf
cover_letter.pdf
cover_letter.aux
cover_letter.out
missfont.log
teaching_philosophy.Rmd
teaching_philosophy.aux
teaching_philosophy.out
teaching_philosophy.pdf
teaching_philosophy_ref.bib
teaching_philosophy.log
Sharif_Resume_R.log
research_statement.Rmd
research_statement.log
research_statement.pdf



